<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <list></list>
        <ul class="list-group">
          <!-- <app-appareil  *ngFor="let appareil of appareils"
          [appareilName]="appareil.name"
          [appareilStatus]="appareil.status"></app-appareil>
          <button class="btn btn-success" [disabled]="!isAuth" (click)="onAllumer()">Tout allumer</button> -->
        </ul>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>