<li [ngClass]="{'list-group-item': true, 'list-group-item-success': postLove === 0}">
  <script>console.log(postLove);</script>
  <div class="row">
    <h2 class="col-10">{{ postTitle }}</h2>
    <p class="2">{{ postCreate | date: 'short' }}</p>
  </div>
  <p>{{ postContent }}</p>
  <p>{{ postLove }}</p>
  <div class="row">
    <button type="button" name="postLove" class="btn btn-success" (click)="onpostLove()">Love It!</button>
    <button type="button" name="postDLove" class="btn btn-danger" (click)="onpostDLove()">Don't Love It!</button>
  </div>
</li>
