<li [ngClass]="{'list-group-item': true, 'list-group-item-success': postLove > 0, 'list-group-item-danger': postLove < 0}">
  <div class="row">
    <h2 class="col-10">{{ postTitle }}</h2>
    <em class="2">{{ postCreate | date: 'short' }}</em>
  </div>
  <p>{{ postContent }}</p>
  <div class="row">
    <button type="button" name="postLove" class="btn btn-success" (click)="onpostLove()">Love It!</button>
    <button type="button" name="postDLove" class="btn btn-danger" (click)="onpostDLove()">Don't Love It!</button>
  </div>
</li>